 *{
        padding: 0;
        margin: 0;
    
    }
    body{
        background-color: #d5d5d5;
        width: 100%;
        height: 100%;
        padding-top: 5vh;

    }


header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background: rgba(163, 163, 167, 0.349);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 5px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

    .logo{
    padding: 5px;
    width: 80px;
    
    cursor: pointer;
}

.game-details {
  color: #000000;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;  
  justify-content: space-around;
  flex-wrap: wrap;
}

.game-title {
  padding: 10px;
  font-size: 24px;
}

.gallery-container {
  margin-top: 20px;
}
.gallery-container p {
  margin-bottom: 5px;
}

.main-image {
  width: 750px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  transition: 1s;
}

.thumbnail-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-thumb {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #444;
  transition: border-color 0.3s;
}

.gallery-thumb:hover {
  border-color: #0af;
}

.download-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px ;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.downloadbox{
  display: block;
  padding: 20px;
  width: 300px;
  height: 400px;
  background: #a9a8a8;
  border-radius: 10px;
}
.description-box{
  margin-top: 10px;
  padding: 0 100px;
  max-width: 800px;
  font-size: 20px;
}
.download-button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.download-button:hover {
  background-color: #28a745; /* أخضر */
  box-shadow: 0 6px 16px rgba(40, 167, 69, 0.4);
  transform: translateY(-2px);
}
